button .box {
  outline-color: beige;
}
.box {
  margin-left: 300px;
  margin-right: 300px;
  background-color: white;
}
main {
  background-color: whitesmoke;
}
.bottone {
  border: none;
  background-color: rgb(99, 177, 216);
  border-radius: 3px;
  color: aliceblue;
}
